.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.subTitle {
	color: #fff;
	font-size: 35px;
	padding-top: 20px;
	padding-bottom: 30px;
}

/*------------*/
/*   Buttons  */
/*------------*/

.buttonContainer {
	display: flex;
}

.button {
	background: #fff;
	border-radius: 50px;
	border: none;
	padding: 10px 0px;
	font-size: 18px;
	display: inline;
	margin: 0 10px;
	outline: none;
	width: 130px;
	cursor: pointer;
	transition: all 0.3s;
}

.button:hover {
	color: #fff;
	background: #e237dc;
}
