
/*---------------*/
/*   Background  */
/*---------------*/

.backgroundContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: black;
}

.background {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	opacity: .3;
}
