/*---------------*/
/*   Background  */
/*---------------*/

.backgroundContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #f80c6a;
	transition: background 0.3s;
}

.active {
	background: #000;
}
.active .background {
	opacity: 1;
}

.background {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	transition: opacity 0.3s;
}
